<appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                    <KeyName>Rsa Key</KeyName>
                </KeyInfo>
                <CipherData>
                    <CipherValue>KciebbrwwLVQMw9GVMcT2zbgqKe5+MEOr0lZf4a4Ern62X832lSqc6Ab5eFgta924kB78TeenKjHn9AlVs2brrn1Dz/oxewSwdB2+I+xLvIMpKUs/PGouUB8hMOEZIHJyfIYqHNtnuG3SfwPyxuBd9R/Rd9OmI3MkjQG6MgDPCZiuGA0CYkOnOEE0IwCsyJe8q6AzhyxknM0ERU54fOc4reFbZvd9ZRKMI0/plTmpLLS1hr1VSpaFloRe2bLSBvJ+1oCM5YQWcLnzYMnXQyVmcbc7RgTUObDNHmz+QWnJOB5K4PKeCyzCUSjfFXHlMpvkRZVShkdPJV2M+fotx2YNg==</CipherValue>
                </CipherData>
            </EncryptedKey>
        </KeyInfo>
        <CipherData>
            <CipherValue>rmyq++nOQWG95wGj1BD/LCjMS6qUMUjUu2fFPOqQMZ0Cnn7XTJeeTbTdOfuSlNHeUj9knqekvsGF9YTFW7RosJQkFprLhvzocjRBW2PgjBocW/aGhrN7/yKOGWKvyksZORmCHH5ynIMbLTv0MVjamzcHgDlF2y7daoO1lYvBbsDIF13Ubjm+6g/xdFz6gENppOPnj/dE6UVnnhpw1V8qYo7WTjHerbljOVDSLrlWSdTMI4A1HbVcvResVVt72+elDKpO6ukD0B5jt6Qfzy8WkYVyyQZKWHKrkhBTBooG5wx7Y99zCypkJEYV/xgBkPek2OYmNH6rVp1ejX7gBN7lXsZPc4DHzJVIQcH9WAdjX9sAXXzIDoEp9o5xw6T9/OIokhLRiu6y6F3lXq148DaVFMumvtICjmfnkqVnWoA5nxaqu5ScVxLddqedVjZr0PK+Rspkng/AwiXW2WrgJHmxUjpbSOSYJJTb7dYEkTpREHDh8OqTk58dIcnqQOzTdNrhhf9NXjbqoOvQwKRUv7o22Q==</CipherValue>
        </CipherData>
    </EncryptedData>
</appSettings>